<a href="https://colab.research.google.com/github/Jeff-Boii/product-recommendation/blob/main/Product_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
df=pd.read_csv("/content/OnlineRetail.csv",encoding = 'ISO-8859-1')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
df.describe(include=object)

,InvoiceNo,StockCode,Description,InvoiceDate,Country
count,541909,541909,540455,541909,541909
unique,25900,4070,4223,23260,38
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,10/31/2011 14:41,United Kingdom
freq,1114,2313,2369,1114,495478

In [ ]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
df = df.loc[df['Quantity'] > 0]
df = df.loc[df['UnitPrice'] > 0]

In [ ]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132220
Country             0
dtype: int64

In [ ]:
df.loc[df['CustomerID'].isna()].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
1447,536544,21790,VINTAGE SNAP CARDS,9,12/1/2010 14:32,1.66,NaN,United Kingdom

In [ ]:
df.nunique()

InvoiceNo      19960
StockCode       3922
Description     4026
Quantity         375
InvoiceDate    18499
UnitPrice       1291
CustomerID      4338
Country           38
dtype: int64

In [ ]:
df.shape

(530104, 8)

In [ ]:
df = df.dropna(subset=['CustomerID'])

In [ ]:
df.shape

(397884, 8)

In [ ]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [ ]:
customer_item_matrix = df.pivot_table(index='CustomerID', columns='StockCode', values='Quantity',aggfunc='sum')
customer_item_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
12349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [ ]:
customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)
customer_item_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
customer_item_matrix.shape

(4338, 3665)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

user_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))
user_user_sim_matrix

,0,1,2,3,4,5,6,7,8,9,...,4328,4329,4330,4331,4332,4333,4334,4335,4336,4337
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.000000,0.032844,0.062318,0.000000,0.113776,0.109364,0.012828
2,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.000000,0.000000,0.000000,0.000000,0.000000,0.170905,0.083269
3,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.000000,0.039014,0.000000,0.000000,0.067574,0.137124,0.030475
4,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.044866,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4333,0.0,0.062318,0.000000,0.000000,0.000000,0.000000,0.0,0.041523,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.105409,1.000000,0.119523,0.000000,0.000000,0.000000
4334,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.049629,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.119523,1.000000,0.000000,0.046613,0.000000
4335,0.0,0.113776,0.000000,0.067574,0.000000,0.037582,0.0,0.000000,0.160128,0.079305,...,0.0,0.174078,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.017800,0.000000
4336,0.0,0.109364,0.170905,0.137124,0.044866,0.080278,0.0,0.113354,0.034204,0.093170,...,0.0,0.037184,0.016480,0.043602,0.000000,0.000000,0.046613,0.017800,1.000000,0.096334
4337,0.0,0.012828,0.083269,0.030475,0.000000,0.033898,0.0,0.000000,0.108324,0.000000,...,0.0,0.000000,0.104383,0.000000,0.043396,0.000000,0.000000,0.000000,0.096334,1.000000

In [ ]:
user_user_sim_matrix.shape

(4338, 4338)

In [ ]:
user_user_sim_matrix.tail(673).drop

<bound method DataFrame.drop of           0         1         2         3         4         5       6     \
3665  0.000000  0.020435  0.022108  0.036410  0.025150  0.067500  0.0000
3666  0.000000  0.123879  0.076584  0.042042  0.000000  0.000000  0.0000
3667  0.000000  0.075708  0.000000  0.038541  0.053243  0.071450  0.0000
3668  0.068199  0.087359  0.087241  0.095786  0.016541  0.133182  0.0341
3669  0.000000  0.057490  0.031099  0.085361  0.000000  0.000000  0.0000
...        ...       ...       ...       ...       ...       ...     ...
4333  0.000000  0.062318  0.000000  0.000000  0.000000  0.000000  0.0000
4334  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.0000
4335  0.000000  0.113776  0.000000  0.067574  0.000000  0.037582  0.0000
4336  0.000000  0.109364  0.170905  0.137124  0.044866  0.080278  0.0000
4337  0.000000  0.012828  0.083269  0.030475  0.000000  0.033898  0.0000

          7         8         9     ...  4328      4329      4330      4331  \
3665  0.027232  0.028760  0.000000  ...   0.0  0.000000  0.000000  0.000000
3666  0.000000  0.000000  0.049341  ...   0.0  0.000000  0.000000  0.000000
3667  0.057651  0.030443  0.045232  ...   0.0  0.033095  0.029336  0.000000
3668  0.125370  0.075660  0.084311  ...   0.0  0.082252  0.000000  0.000000
3669  0.019153  0.000000  0.100180  ...   0.0  0.000000  0.000000  0.000000
...        ...       ...       ...  ...   ...       ...       ...       ...
4333  0.041523  0.000000  0.000000  ...   0.0  0.000000  0.000000  0.000000
4334  0.049629  0.000000  0.000000  ...   0.0  0.000000  0.000000  0.000000
4335  0.000000  0.160128  0.079305  ...   0.0  0.174078  0.000000  0.000000
4336  0.113354  0.034204  0.093170  ...   0.0  0.037184  0.016480  0.043602
4337  0.000000  0.108324  0.000000  ...   0.0  0.000000  0.104383  0.000000

          4332      4333      4334      4335      4336      4337
3665  0.000000  0.000000  0.000000  0.000000  0.102306  0.000000
3666  0.000000  0.056796  0.067884  0.000000  0.033225  0.000000
3667  0.036588  0.069421  0.041487  0.031686  0.101525  0.000000
3668  0.045466  0.021567  0.025777  0.019687  0.201857  0.071030
3669  0.000000  0.000000  0.000000  0.042108  0.143911  0.018990
...        ...       ...       ...       ...       ...       ...
4333  0.105409  1.000000  0.119523  0.000000  0.000000  0.000000
4334  0.000000  0.119523  1.000000  0.000000  0.046613  0.000000
4335  0.000000  0.000000  0.000000  1.000000  0.017800  0.000000
4336  0.000000  0.000000  0.046613  0.017800  1.000000  0.096334
4337  0.043396  0.000000  0.000000  0.000000  0.096334  1.000000

[673 rows x 4338 columns]>

In [ ]:
user_user_sim_matrix.shape

(4338, 4338)

In [ ]:
user_user_sim_matrix.columns = customer_item_matrix.index

user_user_sim_matrix['CustomerID'] = customer_item_matrix.index

user_user_sim_matrix = user_user_sim_matrix.set_index('CustomerID')
user_user_sim_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12347.0,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
12348.0,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
12349.0,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
12350.0,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

In [ ]:
user_user_sim_matrix.loc[12348].sort_values(ascending=False)

CustomerID
12348.0    1.000000
17940.0    0.348155
13027.0    0.348155
15232.0    0.292685
12548.0    0.286039
             ...
13388.0    0.000000
15507.0    0.000000
13385.0    0.000000
15510.0    0.000000
12346.0    0.000000
Name: 12348.0, Length: 4338, dtype: float64

In [ ]:
items_bought_by_12358 = set(customer_item_matrix.loc[12348].iloc[customer_item_matrix.loc[12348].to_numpy().nonzero()].index)
items_bought_by_12358

{'21211',
 '21213',
 '21725',
 '21726',
 '21967',
 '21977',
 '21980',
 '21981',
 '21982',
 '21983',
 '21985',
 '22437',
 '22616',
 '22951',
 '22952',
 '23076',
 '23077',
 '23078',
 '84988',
 '84991',
 '84992',
 'POST'}

In [ ]:
items_bought_by_15002 = set(customer_item_matrix.loc[15002.0].iloc[customer_item_matrix.loc[15002.0].to_numpy().nonzero()].index)
items_bought_by_15002

{'20725',
 '20727',
 '21136',
 '21363',
 '21407',
 '21411',
 '21452',
 '21506',
 '21519',
 '21558',
 '21754',
 '21755',
 '21811',
 '21812',
 '21818',
 '22065',
 '22077',
 '22086',
 '22090',
 '22118',
 '22119',
 '22121',
 '22132',
 '22134',
 '22158',
 '22186',
 '22189',
 '22197',
 '22198',
 '22352',
 '22384',
 '22436',
 '22469',
 '22470',
 '22507',
 '22508',
 '22514',
 '22515',
 '22518',
 '22519',
 '22520',
 '22521',
 '22522',
 '22523',
 '22524',
 '22525',
 '22589',
 '22637',
 '22644',
 '22645',
 '22646',
 '22694',
 '22716',
 '22717',
 '22718',
 '22804',
 '22809',
 '22810',
 '22815',
 '22819',
 '22931',
 '22937',
 '22960',
 '22965',
 '22966',
 '22983',
 '22993',
 '23206',
 '23208',
 '23254',
 '23256',
 '23295',
 '23296',
 '23297',
 '23321',
 '23322',
 '23329',
 '23332',
 '23359',
 '23374',
 '72351A',
 '72351B',
 '72741',
 '84029E',
 '84050',
 '84378',
 '84380',
 '84789',
 '84879',
 '84968C',
 '85038',
 '85107',
 '85123A'}

In [ ]:
items_to_recommend_to_14145 = items_bought_by_12358 - items_bought_by_14145
items_to_recommend_to_14145

{'21211',
 '21213',
 '21725',
 '21726',
 '21967',
 '21977',
 '21980',
 '21981',
 '21982',
 '21983',
 '21985',
 '22437',
 '22616',
 '22951',
 '22952',
 '23076',
 '23077',
 '23078',
 '84988',
 '84991',
 '84992',
 'POST'}

In [ ]:
df.loc[df['StockCode'].isin(items_to_recommend_to_14145), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')

                                  Description
StockCode
POST                                  POSTAGE
21977      PACK OF 60 PINK PAISLEY CAKE CASES
84991             60 TEATIME FAIRY CAKE CASES
21980       PACK OF 12 RED RETROSPOT TISSUES
21213             PACK OF 72 SKULL CAKE CASES
84992          72 SWEETHEART FAIRY CAKE CASES
22952         60 CAKE CASES VINTAGE CHRISTMAS
22616              PACK OF 12 LONDON TISSUES
22951         60 CAKE CASES DOLLY GIRL DESIGN
21985       PACK OF 12 HEARTS DESIGN TISSUES
21982                PACK OF 12 SUKI TISSUES
21981            PACK OF 12 WOODLAND TISSUES
21967                PACK OF 12 SKULL TISSUES
21983        PACK OF 12 BLUE PAISLEY TISSUES
22437           SET OF 9 BLACK SKULL BALLOONS
21211          SET OF 72 SKULL PAPER  DOILIES
84988      SET OF 72 PINK HEART PAPER DOILIES
21726                  MULTI HEARTS  STICKERS
22952         72 CAKE CASES VINTAGE CHRISTMAS
21725                      SWEETIES  STICKERS
23077                     DOUGHNUT LIP GLOSS
23076              ICE CREAM SUNDAE LIP GLOSS
23078                ICE CREAM PEN LIP GLOSS

In [ ]:
most_similar_user = user_user_sim_matrix.loc[12348].sort_values(ascending=False).reset_index().iloc[1, 0]
most_similar_user

17940.0

In [ ]:
def get_items_to_recommend_cust(cust_a): 
  '''returns the items to recommend to a customer using customer similarity'''
  most_similar_user = user_user_sim_matrix.loc[cust_a].sort_values(ascending=False).reset_index().iloc[1, 0]
  items_bought_by_cust_a = set(customer_item_matrix.loc[cust_a].iloc[customer_item_matrix.loc[cust_a].to_numpy().nonzero()].index)
  items_bought_by_cust_b = set(customer_item_matrix.loc[most_similar_user].iloc[customer_item_matrix.loc[most_similar_user].to_numpy().nonzero()].index)
  items_to_recommend_to_a = items_bought_by_cust_b - items_bought_by_cust_a
  items_description = df.loc[df['StockCode'].isin(items_to_recommend_to_a), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')
  return items_description

In [ ]:
get_items_to_recommend_cust(12348.0)

                                Description
StockCode
21986      PACK OF 12 PINK POLKADOT TISSUES
M                                    Manual

In [ ]:
get_items_to_recommend_cust(12348.0)

                                Description
StockCode
21986      PACK OF 12 PINK POLKADOT TISSUES
M                                    Manual

In [ ]:
item_item_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix.T))
item_item_sim_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,3655,3656,3657,3658,3659,3660,3661,3662,3663,3664
0,1.000000,0.0,0.094868,0.091287,0.0,0.000000,0.090351,0.062932,0.098907,0.095346,...,0.0,0.0,0.0,0.0,0.0,0.029361,0.0,0.067591,0.0,0.078217
1,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.032774,0.045655,0.047836,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.016345,0.0,0.000000
2,0.094868,0.0,1.000000,0.115470,0.0,0.000000,0.057143,0.059702,0.041703,0.060302,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.071247,0.0,0.010993
3,0.091287,0.0,0.115470,1.000000,0.0,0.000000,0.164957,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,0.000000,0.0,0.000000,0.000000,1.0,0.447214,0.063888,0.044499,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [ ]:
item_item_sim_matrix.shape

(3665, 3665)

In [ ]:
item_item_sim_matrix.columns = customer_item_matrix.T.index

item_item_sim_matrix['StockCode'] = customer_item_matrix.T.index
item_item_sim_matrix = item_item_sim_matrix.set_index('StockCode')
item_item_sim_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,0.0,0.094868,0.091287,0.0,0.000000,0.090351,0.062932,0.098907,0.095346,...,0.0,0.0,0.0,0.0,0.0,0.029361,0.0,0.067591,0.0,0.078217
10080,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.032774,0.045655,0.047836,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.016345,0.0,0.000000
10120,0.094868,0.0,1.000000,0.115470,0.0,0.000000,0.057143,0.059702,0.041703,0.060302,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.071247,0.0,0.010993
10123C,0.091287,0.0,0.115470,1.000000,0.0,0.000000,0.164957,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
10124A,0.000000,0.0,0.000000,0.000000,1.0,0.447214,0.063888,0.044499,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [ ]:
item_item_sim_matrix.loc['10080'].sort_values(ascending=False)

StockCode
10080     1.000000
23694     0.191346
22039     0.187317
47504H    0.166924
21650     0.165567
            ...
22760     0.000000
22763     0.000000
22764     0.000000
22765     0.000000
POST      0.000000
Name: 10080, Length: 3665, dtype: float64

In [ ]:
top_10_similar_items = list(item_item_sim_matrix.loc['10080'].sort_values(ascending=False).iloc[:10].index)
top_10_similar_items

['10080',
 '23694',
 '22039',
 '47504H',
 '21650',
 '90214F',
 '79157B',
 '90206A',
 '84012',
 '22043']

In [ ]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [ ]:
df.loc[df['StockCode'] == '90210A']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
28848,538661,90210A,GREY ACRYLIC FACETED BANGLE,12,12/13/2010 15:42,1.25,15194.0,United Kingdom
28887,538662,90210A,GREY ACRYLIC FACETED BANGLE,12,12/13/2010 15:44,1.25,15159.0,United Kingdom
56707,541110,90210A,GREY ACRYLIC FACETED BANGLE,2,1/13/2011 15:11,2.95,15916.0,United Kingdom

In [ ]:
df.loc[df['StockCode'] == '90210A'][:1]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
28848,538661,90210A,GREY ACRYLIC FACETED BANGLE,12,12/13/2010 15:42,1.25,15194.0,United Kingdom

In [ ]:
df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]

                                   Description
StockCode
10080                 GROOVY CACTUS INFLATABLE
23694                        PAISLEY PARK CARD
22039                 BOTANICAL LILY GIFT WRAP
47504H              ENGLISH ROSE SPIRIT LEVEL
21650           ASSORTED TUTTI FRUTTI BRACELET
90214F               LETTER "F" BLING KEY RING
79157B                 UBO-LIGHT TRIOBASE BLUE
90206A               GOLD DIAMANTE STAR BROOCH
84012      MAGIC SHEEP WOOL GROWING FROM PAPER
22043             CHRISTMAS CARD SCREEN PRINT

In [ ]:
def get_top_similar_items(item):
  top_10_similar_items = list(item_item_sim_matrix.loc[item].sort_values(ascending=False).iloc[:10].index)
  top_10 = df.loc[df['StockCode'].isin(top_10_similar_items), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]
  return top_10

In [ ]:
get_top_similar_items('84029E')

                                   Description
StockCode
84029E          RED WOOLLY HOTTIE WHITE HEART.
84029G     KNITTED UNION FLAG HOT WATER BOTTLE
21479            WHITE SKULL HOT WATER BOTTLE
21485         RETROSPOT HEART HOT WATER BOTTLE
22111             SCOTTIE DOG HOT WATER BOTTLE
22112               CHOCOLATE HOT WATER BOTTLE
22114        HOT WATER BOTTLE TEA AND SYMPATHY
23355               HOT WATER BOTTLE KEEP CALM
84030E           ENGLISH ROSE HOT WATER BOTTLE
22632                HAND WARMER RED POLKA DOT
22632                HAND WARMER RED RETROSPOT

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
niga = KNeighborsClassifier(n_neighbors = 3)
niga.fit(user_user_sim_matrix,customer_item_matrix)

KNeighborsClassifier(n_neighbors=3)